body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.wrapper {
    max-width: 662px;
    margin: 50px auto 100px;
    background-color: #fff;
    padding: 56px 32px 85px;
    border-radius: 20px;
    box-shadow: 64px 64px 64px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

.invoice {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #000000;
}

.number {
    font-size: 30px;
    font-weight: 300;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #000000;
}

.info {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.date {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.48);
}

.logo {
    top: 0px;
    right: 0px;
}

.treaty_parties {
    margin: 40px auto;
}

.column--name {
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.48);
}

.bill {
    margin-bottom: 8px;
}

.address {
    font-weight: 400;
    color: #000000;
}

.companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company {
    width: 319px;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
}

.company--right {
    width: 319px;
    text-align: right;
}

.borderline {
    margin-top: 8px;
    margin-bottom: 16px;
}

.table {
    display: grid;
    width: 662px;
    grid-template-columns: 319px 116px 56px 91px 80px;
}

.item {
    text-align: left;
}

.column--data__common {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.column--item {
    font-size: 16px;
    margin-bottom: 8px;
}

.column--item__addinfo {
    font-size: 12px;
    line-height: 16.34px;
}

.column--data {
    text-align: right;
}

.column--total {
    font-weight: 600;
}

.subtotal {
    margin-bottom: 4px;
}

.column--notes {
    font-size: 14px;
    line-height: 19px;
    grid-row-start: 2;
    grid-row-end: 5;
}

.subtotal--end{ 
    margin-top: 20px;
}
.column__subtotal {
    grid-column: 5;
}
